<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">

    <select id="page" resultType="com.sky.vo.SetmealVO">
        SELECT s.*, c.name AS categoryName
        FROM setmeal s LEFT JOIN category c ON s.category_id = c.id
        <where>
            <if test="name != null">and s.name like concat('%', #{name}, '%')</if>
            <if test="categoryId != null">and s.category_id = #{categoryId}</if>
            <if test="status != null">and s.status = #{status}</if>
        </where>
        order by s.update_time desc
    </select>

    <select id="checkSell" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1
            FROM setmeal
            WHERE status = 1 AND id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        )
    </select>

    <delete id="deleteBatch">
        DELETE FROM setmeal WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        UPDATE setmeal
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser}</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="checkExistNotSale" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1
            FROM setmeal_dish sd
            JOIN dish d ON sd.dish_id = d.id
            WHERE sd.setmeal_id = #{id}
            AND d.status = 0
        )
    </select>
</mapper>
