<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <select id="checkDishRelation" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT 1
            FROM setmeal_dish
            WHERE dish_id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        )
    </select>

    <insert id="insertBatch">
        INSERT INTO setmeal_dish (setmeal_id, dish_id, name, price, copies) VALUES
        <foreach collection="setmealDishes" item="item" separator=",">
            (#{item.setmealId}, #{item.dishId}, #{item.name}, #{item.price}, #{item.copies})
        </foreach>
    </insert>

    <delete id="deleteBatch">
        DELETE FROM setmeal_dish WHERE setmeal_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>